// margin-top
.mt-10 {
  margin-top: 10px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-100 {
  margin-top: 100px;
}

// margin-right
.mr-10 {
  margin-right: 10px;
}

// background
.bg-white {
  background-color: #fff;
}

// width
.width-50 {
  width: 50%;
}

// btn delete outline
.btn:focus, .btn.focus, .btn:active:focus, .btn:active.focus, .btn.active:focus, .btn.active.focus {
  outline: none;
  outline-offset: 0;
}